<div class="loader" *ngIf="!this.loaded">
  <app-loader-animation>
    </app-loader-animation>
</div>
<div *ngIf="this.loaded" style="margin-top: 10px">
<button [routerLink]="['/posts']" class="button mb-2">Vissza a posztokhoz</button>
<article id="{{post.slug}}" [@bgImgTrigger]>
<div *ngIf="this.hasFeaturedImage" class="featured-image" style="background-image: url('{{ post.featuredImage }}')">
  <img src="{{post.featuredImage}}" style="display: none" (load)="this.isFeaturedImageLoaded = true" />
  <app-loader-animation *ngIf="!this.isFeaturedImageLoaded"></app-loader-animation>
  <p class="article-featured-image-copyright" [innerHTML]="post.featuredImageCopyrightText"></p>
</div>
<div class="article-inner">

  <h1 class="post-title">{{ post.title }}</h1>
  <div class="post-meta">
    <div class="post-author">
      <img style="width: 64px" src="{{ post.author.profilePicture }}" />{{post.author.name}}
    </div>
    <div class="post-date">
      <fa-icon [icon]="faCalendarAlt"></fa-icon>
      {{ post.publishDate | date:'yyyy.MM.dd.' }}
    </div>
  </div>
  <div class="post-content" >
    
    <showdown [options]="showdownOptions" [value]="post.content"></showdown>
  </div>
</div>
</article>
<div class="blog-info">
  <div class="blog-info-header">
    <fa-icon [icon]="faBlockQuestion"></fa-icon>
    <h3>Mi is ez a <span class="red">robi2.hu</span>?</h3>
  </div>
  <p>A robi2.hu oldal az én személyes weboldalam/blogom. Az itt található anyagok mind azt a célt szolgálják, hogy különféle hasznos információkat nyilvánosan, lehetőleg minél egyszerűbben összefoglalva megosszak veled.</p>
  <p>Az itt megtalálható anyagok saját készítésűek, azonban előfordulhatnak külső forrásból származó illusztrációk, melyek forrását minden esetben mellette megtalálod.</p>
  <p>Az oldal bármiféle támogatás nélkül működik, nem kérlek hogy bármilyen formában támogass, de amennyiben a tartalmat hasznosnak találtad, örülök ha azt megosztod velem.</p>
</div>
</div>

