.logo {
  display: block;
  width: 251px;
  margin: auto;
}
.dark-mode-switch {
  position: absolute;
  right: 10px;
  top: 10px;
}
.main-container {
	min-height: 100vh;
	padding: 3rem;
	transition: .2s padding;
}
.menu-col {
	width: 100%;
	max-width: 300px
}
.mobile-menu-bar {
	display: none;
}
@media screen and (max-width: 900px) {
	.main-container {
		padding: 1rem;
	}
	footer {
		padding-bottom: 40px;
	}
	.menu-col {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 100%;
		z-index: 1000;
		max-width: 450px;
		.mobile-menu-bar {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			height: 45px;
			padding: 0px 10px;
			background: var(--bg);
			z-index: 1001;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			button {
				background: var(--bg);
				border: 0;
				color: var(--red);
				transition: .2s all;
				border-radius: 3px;
				outline: none;
			}
			.btn-active {
				background: var(--red);
				color: var(--bg);
			}
			img.mobile-logo {
				height: 25px
			}
		}
		nav {
			display: none;
			backdrop-filter: blur(20px);
			margin-bottom: 10px;
		}
		nav.expanded {
			display: block;
		}
	}
}

.nav-item{
	font-family: "Raleway", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav {
	background: var(--menu) !important;
	border-radius: 5px;
	position: sticky;
	top: 0;
  	z-index: 10;
	.menu-title {
		display: block;
		width: 100%;
		color: var(--red);
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
		padding: 1rem;
	}
	ul.navbar-nav {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		line-height: 40px;
        transition: .3s all;
		margin: auto;
		li {
			display: block;
			width: 50%;
			animation-name: menuIn;
			animation-duration: .5s;
			animation-iteration-count: 1;
			animation-timing-function: cubic-bezier(.17,.67,.44,1.01);
			animation-fill-mode: backwards;
			&:nth-of-type(2) {
				animation-delay: .1s;
			}
			&:nth-of-type(3) {
				animation-delay: .2s;
			}
			&:nth-of-type(4) {
				animation-delay: .3s;
			}
			&:nth-of-type(5) {
				animation-delay: .4s;
			}
			&:nth-of-type(6) {
				animation-delay: .5s;
			}
			&:nth-of-type(7) {
				animation-delay: .6s;
			}
			&:nth-of-type(8) {
				animation-delay: .7s;
			}
			a {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					color: var(--menu-item);
					text-transform: uppercase;
					font-weight: 700;
					font-size: 14px;
					border-radius: 5px;;
					transition: .2s all;;
				&:hover {
				color: var(--red-light);
				background: var(--red-lightest);
				}
			}
			.current {
				color: var(--red);
			}
		}
	}
}


footer {
	background: #c90415;
	color: #FFF;
	div.social-icons {
		padding: 5px;
		a {
			color: white;
			margin-right: 5px;
			margin-left: 5px;
			font-size: 1.3rem;
			transition: .3s all;
			&:hover {
				color: rgba(255,255,255,.7);
			}
		}
	}
}
@keyframes menuIn {
	from {transform: scale(0,0)}
	to {transform: scale(1,1)}
  }