<div class="main-container container-fluid p-5">
  <div class="row">
    <div class="col menu-col order-first order-md-last">
      <nav [ngClass]="{'expanded': isExpanded}">
        <div class="container">
            <span class="menu-title">Menü</span>
            <dark-mode-switch class="dark-mode-switch"></dark-mode-switch>
            <ul class="navbar-nav nav mr-auto justify-content-center">
              <li class="nav-item active p-1">
                <a class="nav-link p-3" routerLink="/about" routerLinkActive="current">
                  <fa-icon [icon]="menuIcons[0]"></fa-icon>
                  Magamról
                </a>
              </li>
              <li class="nav-item active p-1">
                <a class="nav-link p-3" routerLink="/posts" routerLinkActive="current">
                  <fa-icon [icon]="menuIcons[1]"></fa-icon>
                  Blog
                </a>
              </li>
              <li class="nav-item p-1">
                <a class="nav-link p-3" href="https://iva.hu">
                  <fa-icon [icon]="menuIcons[2]"></fa-icon>
                  IVA Media
                </a>
              </li>
              <li class="nav-item p-1">
                <a class="nav-link p-3" routerLink="/discord" routerLinkActive="current">
                  <fa-icon [icon]="menuIcons[3]"></fa-icon>
                  Discord
                </a>
              </li>
              <li class="nav-item p-1">
                <a class="nav-link p-3" routerLink="portfolio" routerLinkActive="current">
                  <fa-icon [icon]="menuIcons[4]"></fa-icon>
                  Referenciák
                </a>
              </li>
              <li class="nav-item p-1">
                <a class="nav-link p-3" routerLink="other">
                  <fa-icon [icon]="menuIcons[5]"></fa-icon>
                  Extrák
                </a>
              </li>
              <li class="nav-item p-1">
                <a class="nav-link p-3" routerLink="/hasznos" routerLinkActive="current">
                  <fa-icon [icon]="menuIcons[6]"></fa-icon>
                  Hasznos
                </a>
              </li>
            </ul>
        </div>
      </nav>
      <div class="mobile-menu-bar">
        <button [ngClass]="{'btn-active': isExpanded}" (click)="isExpanded = !isExpanded" aria-label="Menü megjelenítése"><fa-icon [icon]="mobileMenuToggleIcon"></fa-icon></button>
        <img src="/assets/images/logo-red.png" class="mobile-logo" alt="" aria-label="" />
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="container m-0" [@routeAnimations]="prepareRouter(outlet)" style="position: relative">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>
  </div>
</div>
<footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 d-flex align-items-center">
            2021 Hahn Róbert
          </div>
          <div class="col-sm-12 col-md-6 d-flex justify-content-end social-icons" >
            <a href="//facebook.com/hahnrobi" target="_blank"><fa-icon [icon]="footerIcons[0]"></fa-icon></a>
            <a href="//youtube.com/robi2studio" target="_blank"><fa-icon [icon]="footerIcons[1]"></fa-icon></a>
            <a href="//twitter.com/hahnrobi_" target="_blank"><fa-icon [icon]="footerIcons[2]"></fa-icon></a>
            <a href="//flickr.com/hahnrobi" target="_blank"><fa-icon [icon]="footerIcons[3]"></fa-icon></a>
            <a href="https://open.spotify.com/user/11125460307" target="_blank"><fa-icon [icon]="footerIcons[4]"></fa-icon></a>
          </div>
        </div>
      </div>
</footer>
