<div class="container-fluid" style="height: 100px; background-image: url('assets/images/red_diamond_detail.jpg')">
  <img src="/assets/images/logo.png" />
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" routerLink="/">Hahn Robi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://iva.hu">IVA Media</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/discord">Discord</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Referenciák</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Extrák</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Hasznos</a>
      </li>
    </ul>
  </div>
</div>
</nav>
<div class="container">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
