<h1>Blog</h1>
<div class="loader" *ngIf="!this.loaded">
  <app-loader-animation>
    </app-loader-animation>
</div>
<div *ngIf="this.loaded" class="blog-post-list mt-5 mb-5">
  <div class="post-main" [@postAnimation]="this.posts.length">
<div *ngFor="let post of this.posts; let i = index" [attr.data.index]="i">
  <app-single-post [post]="post" [index]="i" class="post-container"></app-single-post>
</div>
</div>
</div>
<ul class="pagination" *ngIf="this.pagesNum.length > 1">
  <li *ngFor="let i of this.pagesNum" (click)="changePage(i)" [ngClass]="{'pagination-active' : i==this.currentPage}">
    {{i+1}}
  </li>
</ul>
