h1 
{
	font-weight: 600;
}
.beta-tag {
	background: var(--red);
	padding: .2em .5em;
	margin-left: .5em;
	color: #FFF;
	font-size: .5em;
	vertical-align: middle;
}
.blog-post-list {

}
ul.pagination {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	li {
		background: var(--bg);
		display: inline-block;
		border: 1px solid var(--post-list-item-bg);
		border-radius: 100000px;
		padding: 10px;
		margin: 0px 5px 0px 5px;
		transition: .3s all;
		cursor: pointer;
		&:hover {
			box-shadow: 0px 3px 4px rgba(0,0,0,.2);
		}
	}

	li.pagination-active {
		background: var(--red);
		color: white;
	}
}
