<div class="row" >
<div class="loader">

</div>
</div>
<div class="row">
<div class="col-12 p-5">
  <h1 @fade>Gyere hozzánk <span class="red">{{ this.welcomeText }}<span class="cursor"></span></span></h1>
  <p class="m-1 mt-4">Ha mindig is vágytál egy helyre ahol meghallgatnak és a problémáid megoldásra találnak, akkor ez nem az a hely.</p>
  <p class="m-1">Ettől függetlenül örömmel látunk köreinkben bármikor!<br />Kattints az alábbi gombra a csatlakozáshoz:</p>
  <a href="https://discord.gg/aM8f865" target="_blank" class="button mt-10 d-inline-block"><fa-icon [icon]="faUserPlus" class="mr-2"></fa-icon>Csapjunk a lovak közé!</a>
</div>

</div>
