/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  --bg: #FFF;
  --post-list-item-bg: #FFF;
	--text-color: #212529;
	--menu: rgba(255,255,255,1);
  --menu-item: rgba(61,61,61,1);
  --red: #c90415;
  --btn: var(--red);
  --btn-hover: #D12938;
  --btn-light: transparent;
  --btn-light-hover: #dfdfdf;
  --red-light: #b34f58;
  --red-lightest: #ffe6e8;
	}
	.light {
	}

	.dark {
    --red: #f93a3a;
    --red-lightest: #2a1617;
    --bg: #0D1117;
    --post-list-item-bg: #181818;
		--menu: rgba(82,0,0,.4);
		--menu-item: rgba(255,255,255,0.69);
		--text-color: #aaa;
    --btn-light-hover: #461616;
	}
body {
	background: var(--bg) !important;
	color: var(--text-color) !important;
  min-height: 100vh;
  transition: background-color .3s;
  overflow-x: hidden;
  max-width: 100%;
}
.red {
  color: var(--red);
}
.main-content {
  min-height: calc(100vh - 300px);
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed";
}
h1 {
  font-weight: 700;
}
.button {
  background: var(--btn-hover);
  color: white;
  text-transform: uppercase;
  position: relative;
  box-shadow: inset 0 0 0 0 var(--btn);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  border: 0;
  border-radius: 0;
  font-weight: 500;
  padding: 15px 30px 15px 30px;
  &:hover {
    box-shadow: inset 400px 0 0 0 var(--btn);
    color: white;
    text-decoration: none;
  }
}
.button-light {
  @extend .btn;
  background: var(--btn-light);
  color: var(--red) !important;
  box-shadow: none;
  &:hover {
    box-shadow: none;
    background: var(--btn-light-hover);
    color:var(--text-color);
  }
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
