/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
	--bg: #FFF;
	--text-color: #212529;
	--menu: rgba(255,255,255,.4);
  --menu-item: rgba(61,61,61,0.69);
  --red: #c90415;
	}
	.light {
	}

	.dark {
		--bg: #0D1117;
		--menu: rgba(82,0,0,.4);
		--menu-item: rgba(255,255,255,0.69);
		--text-color: #aaa;
	}
body {
	background: var(--bg);
	color: var(--text-color);
  min-height: 100vh;
  transition: background-color .3s;
}
.red {
  color: var(--red);
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed";
}
h1 {
  font-weight: 700;
}
