/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  --bg: #FFF;
  --post-list-item-bg: #FFF;
	--text-color: #212529;
	--menu: rgba(255,255,255,1);
  --menu-item: rgba(61,61,61,1);
  --red: #c90415;
  --red-50: #FFEBED;
  --red-100: #FD9BA3;
  --red-200: #FC5F6c;
  --red-300: #FB2335;
  --red-400: #FA0F23;
  --red-500: var(--red);
  --red-600: #A00310;
  --red-700: #8C030E;
  --red-800: #64020A;
  --red-900: #3C0106;
  --btn: var(--red);
  --btn-hover: var(--red-300);
  --btn-light: transparent;
  --btn-light-hover: #dfdfdf;
  --red-light: var(--red-400);
  --red-lightest: var(--red-50);
  --uptime-ok: #00d500;
  --uptime-warning: #ffd403;

  /*Tailwind gray */
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
	}
	.light {
	}

	.dark {
    --red: #f93a3a;
    --red-lightest: #2a1617;
    --bg: #0D1117;
    --post-list-item-bg: #181818;
		--menu: rgba(82,0,0,.4);
		--menu-item: rgba(255,255,255,0.69);
		--text-color: #bbb;
    --btn-light-hover: #461616;
    --gray-900: #f9fafb;
    --gray-800: #f3f4f6;
    --gray-700: #e5e7eb;
    --gray-600: #d1d5db;
    --gray-500: #9ca3af;
    --gray-400: #6b7280;
    --gray-300: #4b5563;
    --gray-200: #374151;
    --gray-100: #1f2937;
    --gray-50: #111827;

    --red-900: #FFEBED;
    --red-800: #FD9BA3;
    --red-700: #FC5F6c;
    --red-600: #FB2335;
    --red-500: #FA0F23;
    --red-400: var(--red);
    --red-300: #A00310;
    --red-200: #8C030E;
    --red-100: #64020A;
    --red-50: #3C0106;
	}
body {
	background: var(--bg) !important;
	color: var(--text-color) !important;
  min-height: 100vh;
  transition: background-color .3s;
  overflow-x: hidden;
  max-width: 100%;
}
.red {
  color: var(--red);
}
.main-content {
  min-height: calc(100vh - 300px);
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed";
}
h1 {
  font-weight: 700;
}
.button {
  background: var(--btn-hover);
  color: white;
  text-transform: uppercase;
  position: relative;
  box-shadow: inset 0 0 0 0 var(--btn);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  border: 0;
  border-radius: 3px;
  font-weight: 500;
  padding: 15px 30px 15px 30px;
  &:hover {
    box-shadow: inset 400px 0 0 0 var(--btn);
    color: white;
    text-decoration: none;
  }
}
.button-light {
  @extend .btn;
  background: var(--btn-light);
  color: var(--red) !important;
  box-shadow: none;
  font-weight: 600 !important;
  &:hover {
    box-shadow: none;
    background: var(--btn-light-hover);
    color:var(--text-color);
  }
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
