<div [@bgImgTrigger] style="margin-top: 30px">
<h1>Ezen az oldalon <span class="red">hasznos cuccok</span> vannak.</h1>
<p>Az alábbi oldalon különféle hasznos dolgokat találhatsz. Bizonyos fájlok nyilvánosak így már most megjelennek, míg bizonyos fájlok csak akkor listázhatók, ha megfelelő kulcsot adsz meg.</p>

<div class="toolbar">
	<input placeholder="Ide írd a kulcsot." #pwd type="password" name="pwd" (keyup.enter)="showFiles(pwd.value)">
	<a class="btn" (click)="showFiles(pwd.value)" >
		Nézzük!
	</a>
</div>

<app-hasznos-file-list [password]="password"></app-hasznos-file-list>
</div>